wcf/BridgePay/BridgePay.Wrapper/Connected Services/BridgePayServiceClient/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BridgePay.WCF/TransactionService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BridgePay.WCF.Models" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BridgePay.WCF/TransactionService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BridgePay.WCF.Models" minOccurs="0" name="GetAllTransactionsResult" nillable="true" type="q1:ArrayOfTransactions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BridgePay.WCF.Models" minOccurs="0" name="transaction" nillable="true" type="q2:Transactions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveSelectedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveSelectedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BridgePay.WCF.Models" minOccurs="0" name="ApproveSelectedItemsResult" nillable="true" type="q4:ArrayOfTransactions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveAllPendings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveAllPendingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BridgePay.WCF.Models" minOccurs="0" name="ApproveAllPendingsResult" nillable="true" type="q5:ArrayOfTransactions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>