wcf/BridgePay/BridgePay.Wrapper/Connected Services/BridgePayServiceClient/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BridgePay.WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BridgePay.WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transactions" nillable="true" type="tns:Transactions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactions" nillable="true" type="tns:ArrayOfTransactions" />
  <xs:complexType name="Transactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transactions" nillable="true" type="tns:Transactions" />
</xs:schema>